[2017-05-18 05:19] MrLeeh opened #2 "Automatically reconnect on lost connection to broker"

[2017-05-19 15:51] VitorHugoAguiar opened #3 "Can't install on ubuntu"
Its possible to install on ubuntu? I am getting:
`vitor@miti:~/Desktop$ pip install flask-mqtt

Collecting flask-mqtt
  Could not find a version that satisfies the requirement flask-mqtt (from versions: 0.0.1.macosx-10.12-x86_64)

No matching distribution found for flask-mqtt
`

[2017-05-22 06:05] MrLeeh commented on #3
Are you on Python2? Flask-MQTT is only compatible with Python3

[2017-05-22 06:05] MrLeeh opened #4 "Add SSL/TLS configuration"

[2017-05-22 06:05] stlehmann opened #5 "Add coveralls integration"

[2017-05-22 06:06] MrLeeh opened #6 "Add travis integration"

[2017-05-22 12:16] #4 closed

[2017-05-22 12:17] MrLeeh opened #7 "Add example for TLS connection"

[2017-05-26 18:03] #2 closed

[2017-05-28 03:45] qianchenzhumeng opened #8 "It seems that the module will create two instances of mqtt client."
When the example code is running, the broker was connected by tow clients simultaneously
. In this case, if there is a message coming from broker, the handle_mqtt_message function will be called twice.

[2017-05-28 04:13] qianchenzhumeng commented on #8
The problem isn't caused by this module. Setting "use_reloader" to "False" can resolve it.

[2017-05-28 12:57] MrLeeh commented on #8
Thank you for the feedback. I know this issue with the developer server starting up twice. Actually the ideal beahivour for the mqtt client would be to start only once even if there are two flask applications. If you have any hints how to achieve this, you' re very welcome. I' ll give it a closer look asap. Greetings

[2017-05-28 19:44] qianchenzhumeng commented on #8
Thanks. I have doubts about whether making mqtt as a plugin of flask is feasible. There often are many many worker processes when the flask program is launched by WSGI HTTP Server, such as gunicorn. According to current design idea, it's terrible when using the WSGI HTTP Server to launch flask program.

[2017-05-30 05:06] MrLeeh commented on #8
I see two ways to tackle this:

1. there will only be one Mqtt client thread no matter how many Flask clients there are. This has the touch of simplicity but doesn't scale well as all messages will be computed by one single Mqtt client even if there are multiple Flask workers. But it would ensure there are no multiple message deliveries.

2. create as many Mqtt worker threads as Flask workers and

[2017-05-31 13:51] stlehmann opened #9 "Connect to multiple MQTT Servers"
similar to how it is handled in the Flask-PyMongo package

[2017-05-31 14:42] MrLeeh commented on #8
Actually I just tried Flask-MQTT with multiple instances of the Flask application using gunicorn or the debugger. It is right that there are two MQTT clients created here. And this is the way it should be as each of them is assigned to a separate WSGI application object. However you need to make sure you won' t subscribe to the same topic with both clients. This doesn' t happen in the example as t

[2017-06-06 12:40] MrLeeh opened #10 "Add example for SocketIO"

[2017-06-21 22:48] crood58 opened #11 "Flask-MQTT Won't Install on Raspberry Pi"
I have tried to install Flask-MQTT on my Raspberry Pi Zero with the latest version of raspbian. I keep getting the error shown in the attached screenshot. Does Flask-MQTT not work on a pi?

![capture](https://user-images.githubusercontent.com/3356264/27409907-f78a4204-56b1-11e7-86b4-28078f9a67bd.PNG)

Thanks in advance for the help.

Chris

[2017-06-22 09:39] MrLeeh commented on #11
Flask-MQTT is written for Python3. If you use `pip install` it probably uses Python2. Try `pip3 install` or `pip3.5 install` to install it for python3. Or you may use a virtual environment.

[2017-06-22 13:10] #3 closed

[2017-06-22 13:14] stlehmann opened #12 "Use paho_test for integration tests"

[2017-06-23 14:19] crood58 commented on #11
I got to work. I recommend updating the readme on guthub, so this in the documentation for installation,

[2017-06-23 15:22] MrLeeh commented on #11
Thanks for the hint. In fact I decided to make it downward compatible to Python2.7 in the meantime as it hasn't been that much hassle. So now you can use it on Python 2.7 and Python 3.+

[2017-06-23 15:22] #11 closed

[2017-06-23 16:37] #6 closed

[2017-06-23 16:37] #8 closed

[2017-06-23 16:59] MrLeeh commented on #10
Added in 72ac06c160eaecc16aa8a6c4aab63a78d48b1752

[2017-06-23 16:59] #10 closed

[2017-07-23 02:49] gregsvo opened #13 "Any implementation of will_set()?"
GREAT work here. I'm actually presenting it as part of my presentation at the PyOhio conference next weekend.

I'd like to see MQTT's "last will" implemented if possible. I attempted to do it myself in the init file, as the will_set() function must be called before client.connect(). It doesn't seem to be working, but wasn't having any luck getting it to work. __init__.py file changes below:

[2017-07-23 07:13] MrLeeh commented on #13
Happy to hear your positive feedback and great to see it as part of your presentation. What will be the topic of your presentation? I'm from Germany so I sadly won't make it to PyOhio.

I will have a look at the last will implementation. As paho mqtt already provides this function it should be no problem to implement it. The way you implemented it seems OK to me. I'll see if I can find out why it'

[2017-07-23 10:25] stlehmann opened #14 "add qos to internal topic list"
if new subscription to a topic that has already been subscribed but with a different qos, make a new subscription

[2017-07-23 11:51] MrLeeh commented on #13
I've included last will functionality into Flask-MQTT according to your proposal. I've also added the configuration variables MQTT_LAST_WILL_QOS and MQTT_LAST_WILL_RETAIN for further configuration. Just give me feedback if it's working for you.

[2017-07-23 11:51] #13 closed

[2017-07-23 21:32] gregsvo commented on #13
Fantastic! I'll give it a test this evening.

The talk is on writing IoT applications in a Python stack (MicroPython/Flask/Mqtt). The video is posted on YouTube a day or so after the event, I'll make sure to send you a link. Thanks again for the great work!

[2017-07-24 05:28] MrLeeh commented on #13
Great, just come back to me if you get any issues.

I would really appreciate you sending me this link to the video. I look forward to it and which
you all the best for the presentation at Pyohio.

[2017-10-26 01:54] liefyuan opened #15 "Can not connect to Mosquitto Server"
Getting a message from

    @mqtt.on_log()
    def handle_logging(client, userdata, level, buf):
        print(client, userdata, level, buf)"

<paho.mqtt.client.Client object at 0x00000000041AC940>, None, 16, 'Sending CONNECT (u1, p1, wr0, wq2, wf1, c1, k60) client_id=') (<paho.mqtt.client.Client object at 0x00000000041AC940>, None, 16, 'Received CONNACK (0, 5)')

[2017-10-26 02:03] liefyuan commented on #15
Add ,my mosquitto is deployed on remote place,not on localhost....

[2017-10-26 07:43] MrLeeh commented on #15
@liefyuan Can you please provide a proper description of your error. Also it would make things much easier if you would care a bit about styling your issue so that someone can actually read it.

[2017-10-27 15:03] davidtweaver opened #16 "Not receiving any data from broker"
Hello,

I'm not sure if this is an issue, or if I'm just misunderstanding the documentation:

- I have a Mosquitto broker running on a Raspberry Pi, and when I run the Flask publish / subscribe script on my laptop, I can see that it has definitely connected, but in the log on the Flask side of things I never see any data in the @mqtt.on_log() function

I have a topic called hello/world which I can

[2017-10-27 17:14] MrLeeh commented on #16
@davidtweaver This could be a problem with your Flask configuration. Could you post your Flask code, please.

[2017-10-27 17:15] #15 closed

[2017-10-28 16:13] davidtweaver commented on #16
My code looks like this (I've left the publish bit as it was because I don't need it just yet)

`

import eventlet
import json
from flask import Flask, render_template
from flask_mqtt import Mqtt
from flask_socketio import SocketIO
from flask_bootstrap import Bootstrap

eventlet.monkey_patch()

app = Flask(__name__)
app.config['SECRET'] = 'my secret key'
app.config['TEMPLATES_AUTO_RELOAD'] = True

[2017-10-29 09:29] MrLeeh commented on #16
Actually I can not find an error in your code. Could be an issue with your Mosquitto server. Have you tried this example with another Mosquitto server like hivemq (see the provided example)?

[2017-11-03 12:54] davidtweaver commented on #16
Ah looks like it was an issue with my websockets rather than the MQTT side of things. I've got it all working now. Thanks for your help!

[2017-11-03 12:54] #16 closed

[2017-11-03 13:49] MrLeeh commented on #16
@davidtweaver Glad it worked out for you.

[2017-12-04 10:00] zhuangzuoyi opened #17 "Hello,I try to use this with uwsgi,never success. Have you met this?"

[2017-12-04 12:05] MrLeeh commented on #17
Please describe your actual problem?

[2017-12-27 01:02] essramos opened #18 "on_connect call back"
Hello,

Is there any way I could use an on_connect callback? Because I want to be able to subscribe to topics once I am connected to the broker and not subscribe thru the frontend like on your example.

Thanks.

[2017-12-29 22:58] stlehmann commented on #18
Hi,
there is no on_connect callback at the moment.

[2018-01-03 02:52] essramos commented on #18
Is there any recommendation on how to monitor the on_connect using this library? Or how to subscribe to a topic once connected to the broker without actions from the front end?

[2018-01-04 15:25] stlehmann commented on #18
For monitoring the on_connect signal you need to write your own callback function and add it to the client

    mqtt.client.on_connect = handle_on_connect

    def handle_on_connect(client, userdata, flags, rc):
        # call the handle_connect method of mqtt at the end
        mqtt._handle_connect(client, userdata, flags, rc)

Could you describe your scenario a bit. I might want to add an ‚is_co

[2018-01-05 05:20] essramos commented on #18
From your example on the documentation, subscribing to a topic is triggered when you click on the front end and socketio handles that correct? I want to be able to subscribe to a topic the moment I am connected to my broker. Like you said an ` is_connected ` callback to the Mqtt class. Based on your example from above, it seems like there is an on_connect library but is for internal use only.

e.g

[2018-01-06 18:44] stlehmann commented on #18
I added an on_connect and also an on_disconnect callback to the API. Please have a look at it.

[2018-01-06 19:02] #17 closed

[2018-01-08 12:49] #18 closed

[2018-01-24 05:46] AhnSeongHyun opened #19 "subscribe qos not apply"
[code]

subscribe qos set 2 but only 0.

I use [emqttd](https://github.com/emqtt/emqttd)

![test](https://user-images.githubusercontent.com/1414228/35316485-2e2219fa-0115-11e8-9aee-a8333ad143b6.png)

Topic TEST is paho mqtt and Topic TEST_FLAK_MQTT is flask-mqtt.

Do not set subscribe qos:2

[2018-01-24 08:05] stlehmann commented on #19
That is strange. The subscribe function passes the parameters directly to paho. In your snippet I don't see the topic `TEST_FLASK_MQTT`. For `TEST` it seems to work.

[2018-01-25 02:12] AhnSeongHyun commented on #19
my codes are blow:

[code]

[code]

[2018-01-25 07:02] AhnSeongHyun commented on #19
[code]
set QOS : 2

[code]
Not set QOS : 2

[2018-01-25 07:22] stlehmann commented on #19
That is strange. I will give it a close look asap.

[2018-01-26 21:16] stlehmann commented on #19
The subscription method passes the qos correctly to pahos subscribe function. So this must be an issue between paho and emqttd.

[2018-01-26 21:54] stlehmann commented on #19
You have to wait with the subscription until the connection has been established. Use the `on_connect` decorator for this. In your example this would look like this:

    import json
    from flask import Flask
    from flask_mqtt import Mqtt

    app = Flask(__name__)
    app.config['MQTT_BROKER_URL'] = 'localhost'
    app.config['MQTT_KEEPALIVE'] = 30
    app.config['MQTT_LAST_WILL_QOS'] = 2

[2018-01-26 21:55] #19 closed

[2018-02-04 10:43] #14 closed

[2018-02-18 22:23] henri-marais commented on #7
I've managed to configure the TLS version to connect to the message broker provided by Amazon Web Services. Connectivity to AWS checks out fine with openssl command line test, however the test application only reports sending CONNECT.

How can I determine the packet payload based on the debug output of sample application?
16 Sending CONNECT (u0, p0, wr0, wq0, wf0, c1, k60) client_id=b'simplewebapp

[2018-02-19 12:43] stlehmann commented on #7
Under the hood Flask-MQTT uses [Paho-MQTT](https://pypi.python.org/pypi/paho-mqtt/1.1). `Mqtt.client` gives you a reference to the paho client. You can use this to analyze your packet payload.

[2018-03-09 15:56] stlehmann opened #23 "Add connection Timeout and proper error message"

[2018-03-14 19:18] mntolia opened #24 "The Flask MQTT Client is recieving the message twice"
Hi,
I have a paho-mqtt client on my PC. When I send a single message to the topic on the broker the message is being received twice by the MQTT client on flask.

I connected another PC client to the broker and subscribed to the topic and saw that the message is getting received only once. Only on the flask client its getting recieved twice.

I have an @mqtt.on_connect function that subscribes to o

[2018-03-15 07:30] AhnSeongHyun commented on #24
How to run flask app.py? using Apache mod-wsgi? gunicorn?

[2018-03-15 08:09] mntolia commented on #24
I am running it directly on EC2 at the moment. I haven't added a WSGI yet. I am also running it on my PC and encountering the same issue.

[2018-03-15 09:58] njerig opened #25 "AttributeError: 'Mqtt' object has no attribute 'client'"
This error occurs when I try to use the `init_app()` function.

Full error:
[code]

run.py
[code]
app/\__init\__.py
[code]

app/mqtt_handlers.py
[code]

[2018-03-15 12:09] mntolia commented on #24
I also noticed in the log there are 2 clients being created although there is only 1 client object:
[code]

[2018-03-15 12:41] AhnSeongHyun commented on #24
I think I need to look at the client's code.

[2018-03-15 13:04] AhnSeongHyun commented on #25
Do you get an error immediately after `python3 run.py`?

In run.py, `app = create_app()` not `app = create_app`

[2018-03-15 14:16] mntolia commented on #24
I have only included the MQTT relevant code:
views.py:
`import os
from flask import Flask, render_template, redirect, flash, request, url_for
from flask_login import LoginManager, login_user, logout_user, login_required, current_user
from flask_bcrypt import Bcrypt
from flask_debugtoolbar import DebugToolbarExtension
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy.exc import IntegrityError

[2018-03-15 20:53] njerig commented on #25
Sorry, I do have it as `app = create_app()`. Just missed it while copying and pasting.

[2018-03-16 08:43] stlehmann commented on #25
@njerig Could you please supply your config file as well.

[2018-03-16 19:29] njerig commented on #25
Sure, here's config.py
[code]

[2018-03-16 20:25] stlehmann commented on #25
This happens because you import the mqtt_handlers before the Mqtt object has been initialized via `mqtt.init_app(app)`. Try to put `from app import mqtt_handlers` in your `create_app()` function.

[2018-03-16 20:45] njerig commented on #25
That fixed it. Thanks guys!

[2018-03-16 20:45] #25 closed

[2018-03-17 12:20] mntolia commented on #24
I am circumventing this issue temporarily by creating a client id. That way the first client gets disconnected once the second client connects to it.

[2018-03-17 23:16] AhnSeongHyun commented on #24
I test based on your code and use emqtt for mqtt broker server.
The message is being printed only once.

server code below:

[code]

client code using paho client library below:

[code]

After `python3 app.py` , mqtt client in server connect to broker and then subscribe `TEST` and `death`.

[code]

Run `python3 pub.py` and send message to server.

client log below:
[code]

server log below:
[code]

[2018-03-18 18:39] mntolia commented on #24
Thank you.

There is definitely something wrong with my code but I am unable to figure out what it is. This is the file run.py where I run my app:

[code]
Its creating 2 clients when I connect to local broker also.

Also when I make some modification in a file and the app restarts then it creates only 1 client. Only when I first run the app it creates 2 clients.

[2018-03-20 00:22] njerig opened #26 "Question about verbose output on terminal"
Is there any way to disable the mqtt client's verbosity in terminal? i.e., I want to get rid of this
[code]
especially when I'm in the flask shell.

[2018-03-20 01:48] AhnSeongHyun commented on #26
Do you use below code?
[code]

[2018-03-20 16:19] stlehmann commented on #24
If you have debugging enabled (e.g. via FLASK_DEBUG=True) Flask will create 2 instances. If you don't want this behaviour just turn debugging off by setting FLASK_DEBUG to False. Have a look here: http://flask.pocoo.org/docs/0.12/quickstart/#debug-mode

[2018-03-21 01:34] #26 closed

[2018-03-21 13:46] mntolia commented on #24
That was the issue. Thanks a lot!

[2018-03-21 13:46] #24 closed

[2018-03-28 10:44] stlehmann opened #27 "Automatically reconnect if connection to MQTT broker gets lost."

[2018-05-31 14:49] Stormhand opened #28 "Repeated retained message"
Hello,
im relatively new to flask. I need to log all subscribed topics to database using the existing flask model. Here is my mqtt part:
[code]

I register flask-mqtt in flask using the factory method:
[code]

everything is ok except that when a retained message is published in some of the topics **handle_mqtt_message** seems to be executed many times which floods the database with the same messag

[2018-05-31 15:05] mntolia commented on #28
Is Flask in DEBUG mode?

[2018-05-31 15:22] Stormhand commented on #28
No, im using gunicorn.

[2018-06-01 09:51] stlehmann commented on #28
@Stormhand Did you set the qos of the message to 1? This would explain the multiple messages. If so try setting it to qos=2 and see if it works.

[2018-06-01 10:29] Stormhand commented on #28
I fixed it by moving to the end of app/__init__.py the import:

then init the mqtt in app/services.py:
[code]
So it seems the problem is flask related than flask-mqtt

[2018-06-01 13:15] Stormhand commented on #28
Unfortunately the problem isn't solved yet. The repeat call occurs randomly but i can't catch it yet.
Replacing flask-mqtt with paho directly in the file with loop_forever() doesn't help.
Using paho as standalone daemon doesn't have any problems.
Qos 1/2 in subscribe does not have any effect.
It might be connected to the creating of context. Could you provide some real example using the addon with

[2018-06-02 20:38] stlehmann commented on #28
I can' t imagine why this is happening. The on_connect decorator is just a callback passed to pahos on_connect event. Could you try to serve with the build-in flask server via flask run and see if this makes a difference.

[2018-06-03 10:03] stlehmann commented on #28
@Stormhand I could reproduce your issue of repeated "connected" messages only by supplying wrong user credentials. This way the  client could not connect to the broker and repeatedly tried to reconnect. Could this be your issue?

[2018-06-03 10:11] Stormhand commented on #28
Sorry, im away from my pc to make so tests but my mosquitto broker doesn't need credentials. Two things are on my mind but ill test tonight:
1. Client id which is already used
2. The call to create_app which is already called once by gunicorn to start flask so init(app) is called twice.

[2018-06-04 07:07] Stormhand commented on #28
Thats really weird. Here is the broker's log:
[code]
Then the last four lines are repeated. It doesnt matter if im using flask in debug or gunicorn.

here is my app/__init__.py
[code]

[2018-06-04 14:31] stlehmann commented on #28
Using Flask-MQTT within a factory function should be fine. I use it for my applications pretty much as default.
Just an idea: Are you using gevent or eventlet? If so you might need to monkey-patch.

I don't know what kind of example you would like to see on app context. Could you please clarify it a bit more (maybe example).

[2018-06-04 14:58] Stormhand commented on #28
I tried gevent, eventlet and default.

Example where the callbacks are able to use the app context. If i dont use create_app() everything is fine.

[2018-06-04 15:41] stlehmann commented on #28
Of course, if you don' t use create_app() Flask and the MQTT plugin will not get initialized and nothing happens at all. Sorry, I don't get your point, mate.

[2018-06-04 17:54] Stormhand commented on #28
Sorry, this is my first flask app and am still trying to figure out how to arrange my application. Everything else works.
I have a main server.py script which starts my flask app using create_app(). Then my mqtt service calls it again to take the context. So all the init_app()'s have been called two times.

[2018-06-05 06:10] stlehmann commented on #28
Flask-MQTT is designed to integrate a MQTT client in Flask and provides several decorators to allow easy handling of incoming messages. You don't need to setup another mqtt client service for this. You can handle it all from within your Flask app.

If you don't mind just send me the code via mail. Then I can take a look at it.

[2018-06-05 07:43] Stormhand commented on #28
I've sent you the code. I guess there is something wrong with my flask structure at all :)

Thanks again.

[2018-06-05 08:33] stlehmann commented on #28
Thanks, I' ve got it. There is just one create_app() function too much in your app.services.mqtt module. I've sent you answer by mail as well.

[2018-06-05 13:04] Stormhand commented on #28
Thanks, Stefan.
Closing the issue as its not related to this addon.

[2018-06-05 13:04] #28 closed

[2018-06-22 15:18] piaca commented on #25
so good

[2018-07-03 14:42] Rory-Wade opened #30 "ImportError: cannot import name default_handler"
I recently installed this flask library and set it up in my flask application but to my disappointment found that the __init__.py file of the library was calling `from flask.logging import default_handler` which throws an error`ImportError: cannot import name default_handler`. I'm using python 2.7 and no errors when installing flask-mqtt. Any help would be greatly appreciated. Thanks in advanced.

[2018-07-04 06:40] stlehmann commented on #30
You probably have installed an older version of Flask. Which Flask version are you using? Try to update to the current version and the problem should be fixed.

[2018-07-04 06:44] stlehmann commented on #30
Seems like the default_handler has been introduced with Flask version 1.0.2. To avoid compatibility issues a fallback mechanism needs to be implemented.

[2018-07-04 06:48] #12 closed

[2018-07-05 00:09] Rory-Wade commented on #30
Fixed. Thanks so much. I was running flask version 0.11.2 but upgrading to 1.0.2 fixed the issue.

[2018-07-06 15:18] Rory-Wade opened #31 "Mqtt Instance runs twice on application run"
First off, great implementation of the paho mqtt library, it has saved me a lot of time implementing it into the flask ecosystem. However, an issue with the library that is not directly linked to its functionality is that when the flask server is running with the example code snippet provided, the MQTT code seems to run twice.

 `socketio.run(app, host='0.0.0.0', port=5000, use_reloader=True, debu

[2018-07-08 14:31] stlehmann commented on #31
Thanks for the feedback. I will see to add some hint for the user in the documentation addressing this issue.

[2018-07-23 15:25] niloysh opened #32 "Option to set mqtt protocol in client"
According to the [paho docs](https://pypi.org/project/paho-mqtt/#client), the mqtt protocol i.e. MQTTv311 or MQTTv31 can be passed.
By default, MQTTv311 is passed, which seems to be causing connection issues with mosquitto broker. Refer to [this stackoverflow post](https://stackoverflow.com/questions/38017111/pahomqtt-client-cant-connect).
I was facing the same problem. Setting MQTTv31 fixed the i

[2018-08-09 10:06] #31 closed

[2018-08-09 10:06] #27 closed

[2018-08-16 02:56] liefyuan opened #33 "windows10 pycharm is work, but Linux uswsgi nginx can not work！"
[code]

I don't know why, when I run very well in **windos10+Pycharm**, mainly the function of publish can be realized, but when I deploy it in the production environment of **CentOS 6.7 (32bit)+Nginx+uwsgi** , the publish function is available. Executed and also output debug information :
 `<[2018-08-16 10:36:24,576] DEBUG in __init__: Published topic /a1ra1U7Mlre/FlaskServer/update: {'id': '123'

[2018-08-16 02:58] liefyuan commented on #33
Then, my server is configured with an SSL certificate, I don't know if this has any effect on the normal operation of this library.

[2018-08-16 05:49] stlehmann commented on #33
Are you using multiple worker threads on your target machine? Flask-MQTT can only handle one worker-thread. So this might be an issue.

[2018-08-16 08:08] liefyuan commented on #33
This is my uswgi configuration file, I configured 1 thread and one processor above.
[code]
After my tests, this code still can't work well, even though it still outputs.
`[2018-08-16 16:01:07,865] DEBUG in __init__: Published topic /a1ra1U7Mlre/FlaskServer/update: {'id': '123', 'version': '1.0', 'params': {'down_data': '1206123440000C012000005A'}, 'method': 'thing.service.property.get'}
[pid: 1941

[2018-08-16 08:16] stlehmann commented on #33
That's odd. Could you try running your app just with the flask development server via `flask run` and see if the error is the same. If your MQTT server only accepts ssl you might need to add ssl configuration for the flask mqtt client as well.

You can also try to publish to your mqtt server by "hand" via `paho mqtt` and see if this works first.

    from paho.mqtt.client import Client
    c = Cli

[2018-08-17 08:36] stlehmann commented on #33
Did you try a manual connection to the server, like I described above? If this didn't work out there is definetely something wrong with the connection to the server itself. Did you choose the right port?

[2018-08-17 08:48] liefyuan commented on #33
Just from, I did try, there is a public MQTT server on the Internet, I use the public server for MQTT data transmission, but it is still useless.
[code]
[http://www.tongxinmao.com/txm/webmqtt.php#](url)

![360 18430707111128157](https://user-images.githubusercontent.com/22258284/44256973-4179b480-a23d-11e8-9a85-98486b993c4d.png)

[2018-08-17 08:50] liefyuan commented on #33
So I can be sure that it did not send the information from my server. According to your library, it has a mechanism for client disconnection detection and reconnection, and it seems to have no effect here.

[2018-08-17 09:29] stlehmann commented on #33
Your code looks fine.

But again... Please try to establish a manual connection with the script I have shown you above. This way we can make sure that your server allows a connection to the MQTT server at all. It could be blocking the connection somewhere.

[2018-08-20 05:52] stlehmann commented on #32
Thanks for the feedback. I will see to this soon.

[2018-09-10 14:01] j123b567 opened #34 "Use connect_async instead of connect"
Web application can't be started if MQTT broker is not running because of an exception during connection. Using just `client.connect_async` instead of pure `client.connect` can solve this issue. `connect_async` is legal operation within `loop_start` and `loop_stop`.

Are there any possible issues with `connect_async`?

[2018-09-10 14:04] j123b567 commented on #34
May be related to #23

[2018-09-17 15:20] f4br1 opened #35 "How to subscribe to multiple mqtt topics?"
Hi,

I am trying to use the Flask-MQTT and SocketIO to subscribe to multiple topics in the same broker? How can I do this? I am new to both extensions.

So far I am able to subscribe to a single topic and get the messages the broker sends, but I don't know how to do it for multiple topics.

Thanks!

[2018-09-17 18:38] f4br1 commented on #35
Hi,

Thanks for you reply. The issue that I have is that each topic has a Token (used a password?). Therefore my question is, How can I subscribe to these topics given that each of them have a different Token? I addition to that, I need to handle the messages from each topic and display them on a webpage as soon as them get published. For this I am using Socket IO for the live updates without refr

[2018-09-17 19:27] mntolia commented on #35
Hi f4br1,
There is no point in keeping a topic as a password. If i want to see all message published to a broker I can just subscribe to '#' which is a wildcard topic. Instead, you can use TLS for encryption .

If you are new to mqtt, I suggest you learn how it works completely. It can be learnt in a day.

Thank you

[2018-09-19 18:19] #35 closed

[2018-10-02 15:01] muzmmilkhan opened #37 "Is it possible to use flask_mqtt in dash module"
Sir please tell me
Is it possible to use flask_mqtt module in dash module (web app)
Thanks in advance

[2018-10-02 16:30] stlehmann commented on #37
Could you specify your question, please. Flask-MQTT is an add-on for the Flask microframework and thus can be used for web apps only. I don’t know about „Dash“ in this context. Maybe add a link or more context so it’s easier for me to understand your question. Regards

[2018-10-03 20:42] muzmmilkhan commented on #37
Dash is Python framework for building web applications. It built on top of Flask, Plotly.js, React and React Js. It enables you to build dashboards using pure Python. Dash is open source, and its apps run on the web browser.
Here is the link:
https://dash.plot.ly/getting-started

I just want to use Mqtt in dash app please send the link or code to connect and subscribe if possible.
Or tell is it po

[2018-10-05 09:45] stlehmann commented on #37
I don’t know how well Flask addons are supported by Dash. However you can always use plain [paho-mqtt](https://github.com/eclipse/paho.mqtt.python) together with your Dash app.

[2018-10-06 14:48] #37 closed

[2018-10-07 10:31] #32 closed

[2018-10-19 21:37] yabb85 opened #40 "AttributeError: Mqtt instance has no attribute 'client'"
I use Mqtt with init_app and flask_script but an error is displayed during start of flask server.

Traceback (most recent call last):
  File "manager.py", line 10, in <module>
    from project import create_app
  File "/home/test/projecti/project/__init__.py", line 19, in <module>
    from .mqtt import mqtt
  File "/home/test/project/project/mqtt.py", line 33, in <module>
    @mqtt.on_message()

[2018-10-19 23:51] deepinder19 commented on #40
from just the error above, I think whats wrong is that you are importing `from .mqtt import mqtt` before initializing mqtt init_app. You may want to import/define this after `mqtt.init_app(app)`

[2018-10-20 12:00] yabb85 commented on #40
Thanks for your explanation.
How to use the splitted project with flask_script extension and create_app function, please?
Thank you.

[2018-11-02 06:54] stlehmann commented on #40
@yabb85 Can you give a minmal code sample that shows your use-case.

[2018-11-02 17:33] stlehmann commented on #40
This is solved with PR #41

[2018-11-02 17:33] #40 closed

[2018-11-12 15:31] stlehmann commented on #5
fixed with https://github.com/stlehmann/Flask-MQTT/commit/53e700d6770f70d001ca094ebb271fa788a0de10

[2018-11-12 15:31] #5 closed

[2018-11-23 02:52] T-baby opened #42 "How can i close the debug log?"
How can i close the debug log?

[code]

[2018-11-23 11:17] T-baby commented on #42
I also want to be able to implement custom topics:
[code]

[2018-11-23 11:47] T-baby commented on #42
and I can't use the sqlalchemy in on_message:

[code]

[code]

[2018-11-26 16:32] jmrubillon commented on #34
would issuing the `client.connect_async()` before the `client.loop_start()` call be more accurate and in keeping with paho-mqtt examples?

[2018-11-26 17:16] j123b567 commented on #34
Unfortunately, there are no official examples using `connect_async()`.
Flask-Mqtt was using `connect_async` for a while but was removed by https://github.com/stlehmann/Flask-MQTT/commit/4cb671b503ceeb3beb165a2cc4ff91e886944416 without further details.

It is little bit strange, because it works much better then with blocking `connect`.

[2018-11-26 17:22] j123b567 opened #43 "publish fails with unhandled exception if reconnect fails"
This bug was introduced probably by solving #27.

When the application is connected to the broker and the broker is later shut down. Then calling `flask_mqtt.Mqtt.publish()` tries to reconnect. This is bad idea, because reconnect is blocking call. It tooks a while and if it is not succesful, it fails with exception, that is not handled in this function.
According to the documentation, `publish` sh

[2018-11-27 16:51] jmrubillon commented on #42
The logging can't be disabled in the current version.
https://github.com/stlehmann/Flask-MQTT/pull/44#issue-233984545
Addresses this.

[2018-11-27 16:52] jmrubillon commented on #34
I've just submitted a pull request that fixes the connect to a connect_async call. Also changed the call order with loop_start coming after the connect_async call.
https://github.com/stlehmann/Flask-MQTT/pull/44#issue-233984545

[2018-11-27 16:58] jmrubillon opened #45 "Create single MQTT instance at application start-up"
I'm not entriely sure how this could be done correctly but maybe using the userdata parameter in the on_connect call could be a mechanism whereby one sets an instance counter when the on_connect callback is triggered and decrements it in the on_disconnect?

Are there any different suggestions? This is just an initial thought after looking at an example in the paho-mqtt repository.

[2019-02-20 21:36] w52191 opened #48 "Lose messages when subscribing"
Some messages are missing when subscribing to the server. I can guarantee that the server has received the published messages. But if 10 messages are published (interval > 1 second), sometimes I got 8 ones, some times I got 6, and sometimes 10... Anyone knows what's going on here? (All the settings are default)

[2019-02-21 07:05] stlehmann commented on #48
Which [qos](https://www.hivemq.com/blog/mqtt-essentials-part-6-mqtt-quality-of-service-levels/) are you using? If you use qos=0 it is common that some messages might get lost. If you want to make sure to receive all messages use qos=1 or qos=2 for both the publisher and the subscriber.

[2019-02-21 22:01] w52191 commented on #48
Yeah, I have tried that before. But it didn't help.

[2019-02-22 16:50] #48 closed

[2019-03-11 09:29] eric0324 opened #49 "How to connect AWS IoT"
Hi , I create a Flask app...

I want to connect to AWS  IoT with `Flask-MQTT`

How to put my `ca`,`cert` and `key`...... and set config...

Please help me understand

Thanks.

[2019-03-12 08:04] stlehmann commented on #49
I have never used AWS so I'm sorry that I can not give you any hints on this.
However integrating TLS encryption in Flask-MQTT is possible by setting the approriate configuration keys. Have a look at the Flask-MQTT documentation: https://flask-mqtt.readthedocs.io/en/latest/configuration.html#configuration-keys.

[2019-03-13 16:36] #49 closed

[2019-04-11 19:27] lSh4dowl opened #50 "Disable logging"
Can you please for the love of god add an option to disable logging ? My apache Error File is getting spammed with
`[Thu Apr 11 19:57:20.009229 2019] [wsgi:error] [pid 4884:tid 1728836656] [2019-04-11 19:57:20,008] DEBUG in __init__: Subscribed to topic: home/entrance/door/auth, qos: 2`

[2019-04-24 06:43] stlehmann commented on #50
This is adressed in PR #44.

[2019-04-24 06:43] #50 closed

[2019-05-09 09:33] philipobrien opened #51 "some callbacks not triggering"
So in my app I have

[code]
which doesn't fire when a client connects.  More strangely, however, I have

[code]

which fires if I put a `mqtt.subscribe("register", qos=2)` in the `handle_connect` callback, but if I subscribe from a client external to this app, e.g. MQTT.fx, it doesn't fire the callback, but the underlying library registers the subscription and logs it

[code]

If I publish a messa

[2019-06-04 09:50] badsmoke opened #52 "I don't understand how to pass the message."
Hello, first thanks for this flask modul

I'm afraid I have an understanding problem.
How do I get the messages from the topics

i would like to subscribe to several topics "hard" and print the values on my html page

later I want to input also publish

e.g.

Topic "Sensor/Room1/Temperature1".
site http://localhost/mqtt

Can I please give someone an example of this?

[2019-07-01 09:29] b3g00d opened #53 "I can't find any useful config MQTT_REFRESH_TIME in source code"
I looking to MQTT_REFRESH_TIME but I can't find it in the source code. Only on readme

[2019-07-29 18:36] stlehmann commented on #52
Hello,

please have a look at the quick start guide and the sample application in the documentation.

Generally Github issues are not the right place to ask for help on a specific problem. You should use platforms like Stackoverflow for this or feel free to contact me directly. It is also good practice to add the source code that reflects your problem.

For now I will close this PR.

Regards
Stefa

[2019-07-29 18:36] #52 closed

[2019-08-01 13:04] dinko-pehar commented on #53
Although it was added 2 years ago in `README.md`, my assumption it will be used for refreshing JWT token. Some example on [Google IoT  Core](https://cloud.google.com/iot/docs/how-tos/credentials/jwts#refreshing_jwts) platform . The maximum lifetime of a token is **24 hours + skew** (_10 mins_) , but in their examples on Python they refresh JWT after 20 minutes.

[2019-08-06 20:26] AbdallahJarwan commented on #24
That was also my case!

[2019-08-08 23:55] ohk2kt3t4 commented on #24
Perhaps the example code in the README should be amended to turn them off:
`if __name__ == '__main__':
    socketio.run(app, host='0.0.0.0', port=5000, use_reloader=True, debug=True)`

[2019-08-15 15:10] Lukanite opened #56 "Sometimes cannot subscribe to topic"
Loading the example in Firefox, sometimes I get error messages in the server logs that show that an attempt to subscribe was unsuccessful:
[code]

I thought that this might be a networking issue, so I set up a mosquitto server on the same one as the webserver and changed the broker url to point to it, but even then I'm still getting the same messages. Thoughts? I'm just hitting the subscribe/unsub

[2019-08-15 15:12] Lukanite commented on #56
Package versions:
[code]

[2019-10-07 12:51] gromajus opened #57 "problem with sending MQTT PUBLISH when using multiprocessing"
Hi!
In my code I am able to send Publish from the main thread, but when I use multiprocessing, the logger shows that the message was published, my the broker doesn't get any message.
The publish result code is zero.

Is it wanted behaviour? Or I am doing something wrong?

[2019-12-04 10:10] gusmb opened #61 "Publish returns MQTT_ERR_SUCCESS even though client is not connected"
I tried publishing a message passing wrong credentials on config file. The publish method returned the tuple  result,mid=(0,1)
The message was not received on the broker and when I checked the method is_connected() on paho client it returned false. Despite that the result of the publish returned 0.

To verify this, I tried again with the right credentials, same publish result, but now the message

[2020-01-16 09:18] vvksahoo opened #63 "How to use MQTT concept in REST API ?"
I have a requirement where will have a POST api call ,read the json data from this and publish the messages to this topic "/home/floor_1/room" and return a success response .
Project structure:
[code]
In app.py
[code]
in app_service/__init__.py
[code]
In controller/send_down_link.py:
[code]
I want to publish this message to "/home/floor_1/room" topic . So i just want accommodate mqtt code in this

[2020-01-20 05:38] #63 closed

[2020-01-20 06:59] stlehmann commented on #57
As written in the docs Flask-MQTT is not suitable for multiprocessing.

[2020-01-21 19:16] #57 closed

[2020-01-27 22:19] fuxey opened #64 "Mqtt Client disconnects immediately after connect."
Hello,
i tried the example project with my local mosquitto broker. But unfortunatly it worked not that good. subscription and publish are not forwared correctly. so i've added some logger messages:

[code]

16 Sending CONNECT (u0, p0, wr0, wq0, wf0, c1, k30) client_id=b'flask_mqtt'
CLIENT DISCONNECTED
16 Received CONNACK (0, 0)
CLIENT CONNECTED
16 Sending CONNECT (u0, p0, wr0, wq0, wf0, c1, k30) c

[2020-02-08 10:29] stlehmann commented on #42
This should be closed with 093e4a09416c41c592915cbf90f166d5e3141995. Thanks @jmrubillon for the PR.

[2020-02-08 10:29] #42 closed

[2020-02-08 10:36] stlehmann commented on #34
I switched back to connect_async using the implementation of @jmrubillon. Thanks for this. I can't remember why I switched from connect_async to connect in the first place. Hope this works out well now :)

[2020-02-08 10:36] #34 closed

[2020-02-26 13:09] WEB-FMA opened #66 "No connection to broker when 'generate_password_hash' from werkzeug.security is imported"
Hello!

I found the following bug while implementing an API that collects measurement data that my application consumes from an MQTT subscription.

Due to the API specification I have to use HTTP Basic Authentication, I'm currently using the Flask-HTTPAuth plugin for this purpose.
(https://github.com/miguelgrinberg/Flask-HTTPAuth)

The problem I found is that once I had the BasicAuth running, my M

[2020-02-28 12:20] jmrubillon commented on #42
You're welcome. I'd forgotten I even contributed those PRs :)

[2020-03-20 06:50] zhazhalaila opened #68 "Losing db conext when I use create_app"
I use create_app function to create app in microapp.py.
[code]
When I implement db insert operation in events blueprint. I get something wrong. Here is my code.
[code]
When I `print(db)` in socketio, everything is ok.
[code]
But when I `print(db)` in flask-mqtt, I get this
[code]
Other operation like publish, subscribe.. etc are OK.

[2020-03-20 08:56] zhazhalaila commented on #68
I had to try use app_context, but it's no use.
[code]

[2020-03-20 09:17] zhazhalaila commented on #68
It seems like when I use `@mqtt.on_message()`, I'm out side of app context.
[code]
Base this code, I get `False` not `True`.

[2020-03-20 09:59] zhazhalaila commented on #68
Inspired by this [link](https://www.reddit.com/r/flask/comments/bizmlf/afusing_flasksqlalchemy_with_flaskmqtt_and_app/), I solve this problem by create a new app.
In `__init__.py`, for my new app I just want use db connect...
[code]
And I use it like this.
[code]
I get right result. But I don't think this a good idea. Can anyone optimize it?

[2020-03-22 07:23] vusaalab opened #69 "MQTT_CLIENT_ID Not working"
Hi there!

The below code is not working. Tried to add clear_session too but not working

`app.config['MQTT_CLIENT_ID'] = 32324`

[2020-03-25 21:12] stlehmann commented on #68
Use flask.current_app for pushing the app_context:

    from flask import current_app
    # ....
    @mqtt.on_message()
    def handle_mqtt_message(client, userdata, message):
         with current_app.app_context():
             # ....

[2020-03-25 21:13] stlehmann commented on #68
See here:
* https://flask.palletsprojects.com/en/1.1.x/appcontext/
* https://flask.palletsprojects.com/en/1.1.x/api/#flask.current_app

[2020-03-25 23:23] zhazhalaila commented on #68
Thanks. But when I use `current_app`, I can't get `current_app` in `@mqtt.on_message()`. But I can get `current_app` in `@socketio.on('subscribe')`. Here is my code.
[code]
When I print `current_app` in `@socketio.on('subscribe')`. I get this.
[code]
But when I print `current_app` in `@mqtt.on_message()`(I had to try send a mqtt message to activate it). I get nothing.

[2020-04-01 06:40] stlehmann commented on #68
Ah you are right. Current_app can not be used. You might want to use your original Flask application object instead of creating a new one.

[2020-04-01 06:59] zhazhalaila commented on #68
Thanks. I will create a new Flask application object.

[2020-04-01 06:59] #68 closed

[2020-04-07 10:27] mhechthz opened #72 "flask video server is very slow"
Hi,

I have following situation: I get jpegs via mqtt mosquitto with a frame rate of about 12 frames per second. I show these frames via `@app.route('/video_feed')` but get only one frame per second. What is wrong here?

[code]
The time.sleep() is the only way to see an image at all.

[2020-04-09 11:47] stlehmann commented on #72
@mhechthz It's hard to tell where the bottleneck in your setup might be. Did you check if the MQTT server can handle your messages fast enough?

[2020-04-10 07:15] mhechthz commented on #72
Meanwhile I changed the setup. Yes, mosquitto is fast enough to transfer about 14 frames per second. Now I write the frames with a pure python paho client to a memory disk based sqlite database and read with another pure flask application. The framerate is now about 11 fps per client, wich is ok for me.

But this doesn't solve the original issue.

[2020-04-28 07:29] stlehmann commented on #45
@jmrubillon Does this refer to the fact that one can use multiple instances of flask but should not use multiple mqtt clients?

[2020-04-28 07:30] stlehmann commented on #51
Can this PR be closed?

[2020-04-28 10:06] stlehmann commented on #51
Did you check if your mqtt messages have also been send with qos=2?

[2020-04-28 10:06] #51 closed

[2020-04-28 10:07] stlehmann commented on #69
What is not working? Do you get an error? Please provide a Traceback if so.

[2020-04-28 10:11] stlehmann commented on #72
I'm not sure if mqtt is a good way to realise video streaming. After all it is a low-bandwith protocol for telemetry data.

Have a look at this stackoverflow post: https://stackoverflow.com/questions/34031030/is-video-streaming-over-iot-protocols-feasible

Maybe you should think of using another protocol like websockets for this task.

[2020-04-28 10:11] #72 closed

[2020-04-28 10:16] stlehmann commented on #66
MQTT breaks.

Sorry for the late reply. Is this still an issue?

That is strange as this plugin does not use `generate_password_hash`. If Flask-MQTT stops working there should be a Traceback or an error message. Could you check for it and post it here?

[2020-04-28 10:20] stlehmann commented on #64
Is this still an issue. If yes, please provide a minimal working example that describes your problem. I will close this issue for now as Github is not the best place to ask general questions about usage. Please try a forum like Stackoverflow first.

[2020-04-28 10:20] #64 closed

[2020-04-28 10:22] stlehmann commented on #56
Is this still an issue? As the issue is quite old I will close it. If it is still a problem feel free to answer and I will gladly reopen it.

[2020-04-28 10:22] #56 closed

[2020-04-28 10:23] #53 closed

[2020-04-28 12:11] mhechthz commented on #72
Well, yes, it might not be a good idea but was more a test. Nevertheless I even don't get a few frames per second to work (paho-mqtt can transfer 14 fps) . So - beside that it is basically not the right approach - it seems to be too slow, so maybe buggy.

[2020-04-28 12:32] stlehmann commented on #72
That is strange. Flask-MQTT is basically paho-mqtt with some convenience functions for Flask. Sure you used the same settings for both setups?

[2020-04-28 12:53] stlehmann commented on #69
I just checked the code. The client id is passed to the paho mqtt client. But it is supposed to be a string. I guess that might cause your error.

[2020-04-28 12:53] #69 closed

[2020-04-29 15:07] #43 closed

[2020-04-29 15:13] stlehmann commented on #61
Could this be related to #43?

[2020-05-04 16:51] #61 closed

[2020-05-04 16:51] stlehmann commented on #61
I'm closing this for now. If this is still an issue just leave a note.

[2020-05-15 11:24] dreichen opened #73 "on_connect callback only called when restarting MQTT Broker"
I am debugging my flask application I just deployed on a raspberry pi zero wh. On my linux machine (notebook) everything works like a charm, however, on the raspberry pi I discovered that the MQTT client does not acknowledge that it connects to the mosquitto broker although the MQTT log states

[code]

I just discovered that the flask app does acknowledge its connection when I do

`    sudo servic

[2020-06-05 08:36] 1voud commented on #73
It looks like I'm facing the same issue. I was using version 1.0.5 and the server ran very stable for over a year. Last week I wanted to dockerize the project and ran into this problem. The new build was using version 1.1.1 on python 3.8.3.
When I start the Flask server I can see it connects to mosquitto (from the mosquitto log) on Armbian, but then it stops and does not continue with the subscrip

[2020-06-06 06:26] 1voud commented on #73
Browsing the code I found the option: connect_async. When using the non-default connect_async=True the issue seems to disappear.

[2020-06-08 19:12] stlehmann commented on #73
@1voud thanks for investigating. I suspected it could be some issue with connect/connect_async. I made connect_async optional in  41ef2fe3f2390d77db17ed8c8810bb19b9b029eb because there were some issues with it before. As far as I can tell this seems to be an ARM-only issue?

[2020-06-08 19:14] stlehmann commented on #66
I will close this for now. Feel free to comment if this is still an issue:

[2020-06-08 19:14] stlehmann commented on #66
.

[2020-06-08 19:14] #66 closed

[2020-06-08 19:16] stlehmann commented on #73
@dreichen could you give it a try and use connect_async in your setup and see if it works.

[2020-06-11 15:49] ffleandro commented on #73
I've confirmed this issue and `connect_async = True` seems to solve it.
Also may be related to `eventlet.monkey_patch()`.

[2020-06-11 19:51] ffleandro opened #74 "eventlet.hubs.IOClosed: [Errno 107] Operation on closed file"
Every now and then I get this error after on connect, when I restart my flask app:

[code]

I'm using Gunicorn to start the flask application and I tried both with and without `eventlet.monkey_patch()`
In all tests I had evenlet installed as a dependency.

Anything I'm doing wrong?

[2020-08-10 13:44] dreichen commented on #73
@ffleandro I do not use `eventlet`, so it has to be a general bug.

[2020-08-13 15:15] jmrubillon commented on #45
@stlehmann To be quite honest I can't quite remember the context in which I made that particular comment.
I believe it's something to do with multiple instances of Flask should only use the one mqtt client. Now since I can't remember why I made that particular suggestion, I probably had found an alternative way of dealing with it.

[2020-08-18 07:21] lbhyxyz123 opened #75 "flask-mqtt，Receive real-time information, start a few hours after the program died, help"
Exception in thread Thread-1:
Traceback (most recent call last):
  File "D:\Program Files\Python36\lib\threading.py", line 916, in _bootstrap_inner
    self.run()
  File "D:\Program Files\Python36\lib\threading.py", line 864, in run
    self._target(*self._args, **self._kwargs)
  File "D:\fuzhou\fuzhou_device\dingler_device\venv\lib\site-packages\paho\mqtt\client.py", line 3428, in _thread_main

[2020-08-18 10:52] stlehmann commented on #45
@jmrubillon Thanks for the feedback. Multiple instances of flask using one single mqtt client would be a nice feature to have. I was thinking about it before but didn't figure out a way to deal with this nicely. I will leave this issue open because maybe someone comes along with a great solution 🤞

[2020-08-18 18:24] stlehmann commented on #75
Please be so kind to drop some lines describing the nature of the problem and provide a minimal example to help others reproduce your problem. I will close this issue due to the lack of these informations.

[2020-08-18 18:24] #75 closed

[2020-09-16 10:18] skrapi opened #76 "Client ID is not detected and therefore a random ID is used"
Hi,

I am attempting to connect to the Thingstream MQTT broker which requires that you use specific Client IDs, I have been able to do this using the paho mqtt library, but I am running into an issue with the Flask-MQTT library.

I set the id as shown below:
`app.config['MQTT_CLIENT_ID'] = "device:69f2xxxxdaad"`

and print it out to be sure:
`print(app.config['MQTT_CLIENT_ID'])`

but when looking

[2020-09-17 01:00] kim-acmehi commented on #76
I found this problem a while back and have been testing a fix.  It looks like the current code is mishandling the "MQTT_CLIENT_ID" coming in from the environment.  I have highlighted two lines below that seem to fix the problem.  You can try this and see if it fixes the problem for you.  It does for me.  If so I can submit a pull request.

From **flask_mqtt/__init__.py**:

    def init_app(self, a

[2020-09-17 06:17] skrapi commented on #76
This change of simply moving the If statement to the first line works for me. A PR would be greatly appreciated as I am running this on Heroku and can't have locally modified packages.

[2020-09-17 15:45] kim-acmehi commented on #73
I am seeing a similar issue where on_connect() is not getting called in my Flask app.  The app has clearly connected to the broker but the on_connect() callback did not execute.  This used to work reliably but the complexity of my app has grown so something other interaction may be affecting the Flask-MQTT operation.  Simple test cases always work but not the full app.  I am using `eventlet `and `

[2020-09-17 19:15] kim-acmehi commented on #73
My problem was fixed by using `connect_async=True`.  I get on_connect() call backs every time now.

[2020-09-18 09:45] stlehmann commented on #76
Fixed by #77

[2020-09-18 09:45] #76 closed

[2020-09-18 09:46] stlehmann commented on #76
Thanks @skrapi for fixing this issue

[2020-09-24 20:35] wiserdivisor opened #78 "How to show the received mqtt messages on a web page?"
Hello stehlmann,
I read this code on [interact with socketio](https://flask-mqtt.readthedocs.io/en/latest/usage.html#interact-with-socketio) documentation:

[code]

I understand that when mqtt receives a message it will be caught here and socketio will emit() it.
But what code should there be on my web page to show the received message? Do I need JavaScript?

[2020-09-29 08:36] stlehmann commented on #78
@wiserdivisor Thanks for your message. However, Github issues are not the right place to ask questions about the usage of this package or programming in general. Please use a community like https://stackoverflow.com for this. Thanks.

[2020-09-29 08:36] #78 closed

[2020-09-29 08:37] stlehmann commented on #74
@ffleandro Did you solve this issue in the meantime? The issue could be related to you using multiple worker threads.

[2020-09-29 08:38] stlehmann commented on #73
The reason might be the change to

[2020-09-29 08:38] #73 closed

[2020-09-29 09:08] wiserdivisor commented on #78
Thanks for the reply Stehlmann!
I actually did find the answer on Stack Overflow. For all those who came to this page with a similar problem,
here's the link : https://stackoverflow.com/questions/55399424/show-mqtt-data-in-flask-template
You have to use JavaScript. I was looking for a pure python solution, but for dynamic web pages, JS is the way.
Remember to import Socketio JS library to use its

[2020-09-29 11:45] skrapi opened #79 "A new release"
Is it possible to release a new version with some of the recent changes? If there is anyway I could do it, I would happily put the effort in.

[2020-10-02 12:55] #74 closed

[2020-10-08 21:53] kim-acmehi commented on #79
@stlehmann @skrapi I would like to see that 1.1.2 released as well so I can dispense with my custom changes.  Can we get it released?

[2020-10-09 06:52] stlehmann commented on #79
@skrapi @kim-acmehi There is still one issue where Python 3.6 does not pass the tests. But I think I can make a new release this weekend.

[2020-10-09 07:02] skrapi commented on #79
@stlehmann Great, please do let me know if I can help in any way.

[2020-10-15 13:37] stlehmann commented on #79
@kim-acmehi, @skrapi sorry to keep you waiting but I'm quite busy at the moment and couldn't manage to draft a new release, yet. If you are not using Python 3.6 then you can already use the newest version by installing the master-branch version directly with pip.

[2020-10-16 19:08] kim-acmehi commented on #79
@stlehmann I am using Python 3.7 so this is not an issue for me.  I know how it goes being busy.  I will have a look at the failure in travis-ci and see if I can get a clue why it is failing on Python 3.6.  But I might be too busy to get to it this weekend. :)

[2020-10-22 17:09] kim-acmehi commented on #79
@stlehmann I finally had some time to look at the failing Python 3.6 test.  Running `deploy.sh` by hand with Python 3.6 I found that `test_on_topic ` does pass sometimes but mostly fails.  I set up an overnight run of the `deploy.sh` iterations.  Out of about 1150 test runs `test_on_topic`:

**FAILED: 805
PASSED: 350**

I did try upping the wait() time from 5 seconds but it did not seem to make an

[2020-10-23 06:07] stlehmann opened #80 "Tests fail for Python 3.6"
@stlehmann I am using Python 3.7 so this is not an issue for me.  I know how it goes being busy.  I will have a look at the failure in travis-ci and see if I can get a clue why it is failing on Python 3.6.  But I might be too busy to get to it this weekend. :)

_Originally posted by @kim-acmehi in https://github.com/stlehmann/Flask-MQTT/issues/79#issuecomment-710446298_

[2020-10-23 06:13] stlehmann commented on #79
@kim-acmehi thanks for digging into this. I created a new issue for further discussions.

[2020-10-23 06:14] stlehmann commented on #80
@kim-acmehi

[2020-10-26 18:47] kim-acmehi commented on #80
It looks like there is a race in `test_on_topic()` where it does not get the `on_connect()` registered soon enough so it can subscribe to the message it is about to publish.  Depending on the version of Python it seems to mostly work or mostly fail.  For me Python 3.7 would mostly work for a single trial of `deploy.sh`.  It would mostly fail with Python 3.6.  When I run 100 trials of `deploy.sh` i

[2020-10-26 18:51] kim-acmehi commented on #80
I just noticed that Travis CI is showing everything passing as of 3 days ago.  I don't see any commits that might have fixed something to get passing tests.  My guess is that `test_on_topic()` is passing by luck.

[2020-10-27 00:37] kim-acmehi commented on #80
Pull request #81 build failure: not sure what is going on there.  I have not seen a failure like that.  My test on Focal worked:

[code]

[2020-10-31 04:43] ramanraja opened #82 "Flask MQTT on_connect is never called when used with SocketIO"
I am trying to implement an MQTT to Web Socket bridge on the lines of your helpful example
https://flask-mqtt.readthedocs.io/en/latest/usage.html#interact-with-socketio

In the above example, subscribing to the MQTT topic is triggered by the socket client. But I want my MQTT channel to keep communicating even if there is no socket client.

So I tried to subscribe in the @mqtt.on_connect() event. B

[2020-11-16 21:11] andrequeiroz2 opened #83 "The disconnect method does not publish last_will_message"
My question is if this behavior is correct, when the function below is called it disconnects from the broker,
but does not publish the will

[code]

[2020-11-17 00:16] dsmaugy commented on #82
I'm having this same problem. I even modified the source through this function here:

[code]

This function is `FLask-MQTT`'s internal `on_connect()` callback to `PahoMQTT`. I added the `logger.debug` line right before the client callback is supposed to be called (the one defined by `@mqtt.on_connect()`). The log output shows it correctly gets to this location in the callback but fails to execute

[2020-11-17 06:39] ramanraja commented on #82
Can you please elaborate on "Flask-MQTT + Socketio in a single test file.. work properly" ? Please see my sample code here:
[https://stackoverflow.com/questions/64592277/flask-mqtt-on-connect-is-never-called-when-used-with-socketio](url)
This is a single file implementation, but it does not work for me.
Can you please post the relevant pieces of your initialization code where on_connect() is calle

[2020-11-18 03:00] dsmaugy commented on #82
My single file test looks similar to yours except I initiated the SocketIO object without the `async_mode='gevent', cors_allowed_origins="*"`

I'm running the server through eventlet

[2020-11-19 14:40] stlehmann commented on #83
Flask-MQTT just calls the disconnect function of paho-mqtt. And in the documentation of paho-mqtt you will find this:

https://pypi.org/project/paho-mqtt/#disconnect

[2020-11-19 14:42] stlehmann commented on #83
In fact the will message will only be sent if the client disconnects without calling disconnect():

https://pypi.org/project/paho-mqtt/#will-set

[2020-11-19 14:42] #83 closed

[2020-11-27 12:48] Niraj-Kamdar commented on #45
What will be the problem if I use multiple instances of Flask with multiple instances of MQTT client?

[2020-12-06 12:03] andrequeiroz2 opened #84 "Monitor the connection Broker."
Hello, is there a way to check the connection with my broker? I would like to monitor the connection in real time. To inform the user if he is connected to the broker.

[2020-12-12 09:29] hikmahgumelar opened #85 "unknown traffic after I run code"
can you explain from where this traffic
![image](https://user-images.githubusercontent.com/4201453/101980331-1f6e9080-3c97-11eb-9e46-3167cf67e9a5.png)

[2020-12-22 14:29] richard-linux commented on #24
I was have the same issue, so I did a little digging...
I am using VS Code, and I found two places where a debug flag can be set.

1. In the "if __name__ == '__main__':" block at bottom of app.py (debug=True)
2. In a launch configuration in launch.json ("FLASK_DEBUG": "1")

Since I am using the Run menu in VS Code, I deleted the "if __name__ == '__main__':" block at bottom of app.py, and everythin

[2020-12-31 12:19] tantinlala opened #86 "Application context not available when 'on_topic' decorated function called"
I am trying to write to a database within my function decorated with 'on_topic'. When I call db.session.commit, I get the following error:

RuntimeError: No application found. Either work inside a view function or push an application context. See http://flask-sqlalchemy.pocoo.org/contexts/.

Would it be possible to have the app context automatically pushed upon the function being called?

[2021-01-24 11:23] vsupacha opened #87 "Client ID is reset to b'' after the instantiation of Mqtt object"
**Environment**
Python 3.7.9 on Windows 10, Jupyter Notebook, Ubuntu 20.04 (WSL)
Tested with my target broker, vanilla mosquitto docker, test.mosquitto.org
Flask 1.1.2
Flask-MQTT 1.1.1
Paho-MQTT 1.5.1

**Issue**
1. Internal client ID is reset to b'' even app.config[MQTT_CLIENT_ID] is set.
2. Try a simple workaround, and it is good even string client ID (UUID style).
[code]

**Info**
Logger from do

[2021-02-07 18:16] halldn commented on #86
I'm having a similar issue, but worked around this by editing flask_mqtt/__init__.py to add the line below:

[code]

Then, the decorator functions can create an application context before performing work. I've seen this done in other extensions, such as flask-apscheduler. Seems to work ok when testing usng the code below:

[code]
Would be great to have this line added to the official code!

[2021-02-07 19:32] 9a4gl opened #89 "Debug with VSCode"
I am adding mqtt client + socketio capability to my flask application, it works fine if I start app from command line, but I try to debug from VSCode I am getting:

[code]

I have use_reloader=False, and in launch.json I have "--no-reload" in args.

Is it possible to debug code using flask-mqtt ?

[2021-02-23 16:04] sj3fk3 opened #90 "Hard time getting TLS v1.2 to work"
to me it's unclear to what the configuration variable MQTT_TLS_VERSION should be set to. the documentations states:

_Specifies the version of the SSL/TLS protocol to be used. By default TLS v1 is used. Previous versions (all versions beginning with SSL) are possible but not recommended due to possible security problems. Defaults to ssl.PROTOCOL_TLSv1._

Then in de code i see this:

`Line 96:    s

[2021-03-02 18:39] sj3fk3 commented on #90
I guess, it's 2, but I do think the documentation could be a little bit more clear. Also defaulting to TLSv1 might not be best idea since sliced bread.

[2021-03-15 04:30] Minivolk02 opened #91 "On message db session not saving with id 2 in database"
When i commiting in database from mqtt query. It saving first commit, but second commit it saving with id 3, not
My code of manage.py:
app = create_app(os.environ.get('FLASK_ENV'))
app.register_blueprint(blueprint)
mqtt.init_app(app)

app.app_context().push()

manager = Manager(app)

migrate = Migrate(app, db)

manager.add_command('db', MigrateCommand)

@mqtt.on_connect()
def handle_connect(client

[2021-03-15 04:39] Minivolk02 commented on #91
[
  {
    "id": 1,
    "status": 1,
    "area_id": null,
    "uid": "736465a2-6051-4e58-a485-78f39d239ff1"
  },
  {
    "id": 3,
    "status": 2,
    "area_id": null,
    "uid": "736465a2-6051-4e58-a485-78f39d239ff2"
  }
]

This is the example

[2021-03-15 04:39] #91 closed

[2021-04-08 06:57] gabrielmbmb commented on #86
A PR would be nice!

[2021-05-07 09:05] WangJun2000 opened #100 "Once I publish,the mid keeps 9 and the program is blocked"
I write requests.get(url=url,params=data) in on_message to deliver message,and write mqtt.publish in @app.route('/saveData').But this only works once,and mid  keeps 9,not increase.But if I access externally with the same URL,this works well.

[2021-07-26 13:19] tgt87 opened #102 "Unable to unsubscribe and unsubscribe all"
Hi,
I'm getting return result as "None" when unsubscribing to a topic and "ValueError: No topic specified, or incorrect topic type" when unsubscribing all topics.
Below is my code and the stack trace:
[code]

![image](https://user-images.githubusercontent.com/24860044/126994374-19ff3eba-a968-4789-a901-6e2b522c385a.png)

Upon inspecting `flask_mqtt/__init__.py`:
The likely error is due to topic bei

[2021-07-30 16:12] rhobinn opened #103 "Error in documentation"
in the "Configure the MQTT client" section

the example code is:

from flask import Flask
from flask_mqtt import Mqtt

app = Flask(__name__)
app.config['MQTT_BROKER_URL'] = 'broker.hivemq.com'  # use the free broker from HIVEMQ
app.config['MQTT_BROKER_PORT'] = 1883  # default port for non-tls connection
app.config['MQTT_USERNAME'] = ''  # set the username here if you need authentication for the br

[2021-09-23 10:31] plambrechtsen commented on #82
I'm also having the same issue where on_connect is never called, so therefor I can't automatically subscribe my default topics.

The main issue seems to be until you establish the initial connection to Flask from the browser then socketio threads don't start. I also tried with before_first_request but that also required an initial request to start the main threads.

My use case is I am trying to r

[2021-11-08 10:22] Zontex commented on #86
Hey, could you please give an example how to pass it to the constructor? I've tried to resolve it for half a day but didn't managed to ...

[2021-11-08 10:48] stlehmann commented on #86
Just have a look at the docs:

[code]

[2021-11-26 05:10] theja0473 opened #110 "TimeoutError: timed out"
**I am using same script like below:**
import eventlet
import json
from flask import Flask, render_template
from flask_mqtt import Mqtt
from flask_socketio import SocketIO
from flask_bootstrap import Bootstrap

eventlet.monkey_patch()

app = Flask(__name__)
#app.config['SECRET'] = 'my secret key'
app.config['TEMPLATES_AUTO_RELOAD'] = True
app.config['MQTT_BROKER_URL'] = 'localhost'
app.config['MQT

[2022-01-02 22:37] pikowai opened #111 "Mqtt client connection issues"
I am using flask with uwsgi and nginx to accept webhooks from a private instance of The Things Stack and then trying to post mqtt commands to control the IO devices in the field. I can connect using paho to create a client and post data. When I try to use flask_mqtt the client connects and then gives an error message:

16 Error: Received CONNACK (0, 0)
16 Error: Sending PINGREQ
16 Error: Received

[2022-01-05 22:52] pikowai commented on #90
It's an integer defined in the ssl library i think, use  `ssl.PROTOCOL_TLSv1_2`
to get v1.2

[2022-02-02 15:01] ropoko opened #112 "High CPU usage on raspberry pi 3 model B"
I'm deploying a flask app with flask_socketio and flask_mqtt on a raspberry pi, but seems like it's using 90% of cpu. Meanwhile, when I remove flask_mqtt and use only flask_socketio, the cpu usage drops to 20~30%.

Additional information: Mosquitto is installed in the raspberry pi so the connection to flask_mqtt is "localhost", the keep alive parameter is setted to 5, like below:

[code]

[2022-02-03 12:42] ropoko commented on #112
I just found out that the problem is when using the eventlet, but I still haven't found another approach.

[2022-02-03 12:42] #112 closed

[2022-05-26 12:41] gastmaier commented on #24
I solved in debugging mode with
[code]

[2022-05-26 12:46] gastmaier commented on #24
I have solved in debug mode with:
[code]
Which is okay since I barely modify the MQTT related code.

However, with Apache2 mod_wsgi Daemon Mode this rule won't work, and I get two instances running... Any ideas?
Of course, I could reload Apache2 every time, but it's a boring solution.

[2022-07-20 10:38] Osmiogrzesznik commented on #82
same here, if i am adding mqtt.subscribe() before socketio.run() server never responds to requests.

[2022-07-20 11:00] Osmiogrzesznik commented on #82
when i simply added call to mqtt.subscribe() just before socketio.run() it works.

[2022-07-22 06:49] ramanraja commented on #82
@Osmiogrzesznik, mqtt.subscribe() works for me, and I am able to receive messages. But the issue is when to subscribe. I want to do it whenever a connection is established, so that even if reconnects, my subscription is renewed automatically. But the life cycle event  mqtt.on_connect() is never invoked.

[2022-08-25 09:27] Sohaib90 commented on #84
@andrequeiroz2 if this is still relevant, what do you specifically mean by monitoring?
Do you mean something like in the image attached here?
![Screenshot from 2022-08-25 11-25-57](https://user-images.githubusercontent.com/43241257/186628610-1b6f09d1-5c04-479f-a438-94672a241e7f.png)

image from: https://courses.ideate.cmu.edu/16-375/f2020/text/code/MQTT-Monitor.html

[2022-08-25 09:31] Sohaib90 commented on #90
To use TLS v1.2 all you have to do is
`app.config['MQTT_TLS_ENABLED'] = True
app.config['MQTT_TLS_VERSION'] = ssl.PROTOCOL_TLSv1_2`
when configuring the mqtt parameters while setting up

[2022-08-26 13:30] Sohaib90 commented on #9
Specifically, will the implementation follow a similar strategy as making multiple PyMongo() objects to connect to different databases. So, translating this to the Flask-MQTT, would this require creating multiple MQTT objects, each connecting with a different server?

[2022-08-29 17:12] hard2explain opened #114 "High CPU usage with eventlet"
I'm using Flask on a project on an embedded system and I'm having performance issues. I'm running gunicorn with one eventlet worker by running:

gunicorn -b 0.0.0.0 --worker-class eventlet -w 1 'app:create_app()'

The problem I'm facing is that, when the MQTT messages start to pour with more cadence, the application starts to use almost all the CPU I have available. My initial thought was that I w

[2022-11-07 16:19] bbartling commented on #114
You ever figure this out?

[2022-11-07 16:56] bbartling opened #116 "error 4"
Is it possible to publish only....for example:

`mqtt.subscribe("home/mytopic")`

then I am trying this below to publish people count and a cameras frames per second to the pub sub:

[code]

And I get this error 4, sorry not not an MQTT expert so any tips appreciated:

[code]

[2022-11-07 18:36] hard2explain commented on #114
No, I'm still stuck with this problem

[2022-11-07 18:45] bbartling commented on #114
Can you use MQTT outside of Flask? Curious if that would make a CPU difference or not

[2022-11-07 18:59] hard2explain commented on #114
If I don't connect to the broker it works perfectly, the MQTT is clearly the issue.